.App {
    text-align: center;
    /*padding: 1rem;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4B4B4B; /*change back to #DDD or #D4C2E4 or DarkSlateBlue when finished styling*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #DDD; /*originally DarkSlateBlue*/
  /*margin: 2rem auto;*/
  /*border-radius: 12px;*/
  /*border: 2px solid black;*/ /*change this when all styling has been finalized*/
  padding: 1rem;
  
 }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* for h2 if needed */
/*.Heading-description {
    font-size: 1.25rem;
}*/

.Data {
    font-weight: bold;
   
}
